<div class="grid grid-cols-12 border">
  <% copy.characters.each do |pinyin, character| %>
    <div class="flex flex-col w-15">
      <%= chinese_pinyin(pinyin) %>
      <%= copy.hidden_character ? chinese_empty_character : chinese_character(character) %>
    </div>
  <% end %>
</div>
