<%= turbo_stream.update "characters" do %>
  <div class="flex">
    <%= @copy.chinese_character_grid.each do |pinyin, character| %>
      <div class="flex flex-col w-15">
        <%= chinese_pinyin(pinyin) %>
        <%= chinese_character(character) %>
      </div>
    <% end %>
  </div>
<% end %>
